
## CONTENT ADMINISTRATED BY {{ team }} ANSIBLE PLAYBOOK. ALL CHANGES WILL BE LOST

{% for item in bootPath.results %}
{% if item.stat.exists == true %}
{{ item.item.path }}{{ item.item.wildcard }}
{% endif %}
{% endfor %}
  {
 
{% for item in logrotateOptions %}
{% if 'rotate 0' == item.option %}
rotate 1
{% else %}
{{ item.option }}
{% endif %}
{% endfor %}

{% if ( keepHistoryDays is number and keepHistoryDays > 0 ) or (keepNumberFiles is number and keepNumberFiles > 0) %}
prerotate
{% if ( keepHistoryDays is number and keepHistoryDays > 0 ) %}

     #file retention = last {{ keepHistoryDays }} days

{% for item in bootPath.results %}
{% if item.stat.exists == true  %}
     /usr/bin/find {{ item.item.path }} -name "{{ item.item.wildcard }}*.gz" -type f -mtime +{{ keepHistoryDays }} -exec rm -f {} \;
{% endif %}
{% endfor %}
{% endif %}
{% if keepNumberFiles is number and keepNumberFiles > 0 %}

     #file retention = {{ keepNumberFiles }} last files

{% for item in bootPath.results %}
{% if item.stat.exists == true  %}
     ls -r1 {{ item.item.path }}{{ item.item.wildcard }}*.gz | tail -n +{{ keepNumberFiles +1 }}  | xargs rm -rf 
{% endif %}
{% endfor %}
{% endif %}

endscript
{% endif %}
{%if deleteEmptyRotated == true %}
postrotate

     #all empty and rotated files will be deleted 

{% for item in bootPath.results %}
{% if item.stat.exists == true and deleteEmptyRotated == true %}
     /usr/bin/find {{ item.item.path }} -name "{{ item.item.wildcard }}" -type f -size 0b -exec rm -f {} \;
{% endif %}
{% endfor %}

endscript
{% endif %}

   }

